<div class="container mt-2">
  <div class="row">
    <div class="mx-auto">  
      <h2 class="font-weight-bold pb-4"> このサイトは、名所や穴場スポットを共有できるレビューサイトです。 </h2>


      <p class="text-center">誰もが知っている観光名所やニッチな穴場スポットまで、幅広く探すことができます。</p>

      <p class="text-center">また、以前から知っていた名所であっても、他のサイトでは知ることのなかった、</p>
      <p class="text-center">お客様目線での名所の素晴らしさを再確認することができるかもしれません。</p>

      <p class="text-center">さらに、特定のジャンルを絞り込むことで、自分好みの名所を探すことが可能です。</p>

      <% unless user_signed_in? %>
        <div class="mx-auto btn-wrapper col-7">
          <div class="row mb-3 pt-4">
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary btn-block font-weight-bold" %>
          </div>
          <div class="row">
            <%= link_to "会員登録", new_user_registration_path, class: "btn btn-outline-info btn-block font-weight-bold" %>
          </div>
        </div>
      <% end %>
      
      <div class="mt-5 mx-auto border-top border-dark"></div>
      
      <div class="d-flex justify-content-center mt-5">
        <%= link_to '管理用ページはこちら', admin_top_path %>
      </div>
      
    </div>
  </div>
</div>