<div class="container mx-auto">
  <div class="mt-3">
    <h1 class="text-center">管理者トップページ</h1>
    <p class="text-center">ユーザー一覧やコメント一覧を確認することができます。</p>
    <div class="row justify-content-center">
      <div class="col-7">
        <ul class="font-weight-bold">
          <li>
            <%= link_to admin_users_path do %>
              ユーザー一覧へ
            <% end %>
          </li>
          <li class="pt-3">
            <%= link_to admin_reviews_path do %>
              レビュー一覧へ
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>