<div class="container">
  <h1>ユーザー詳細</h1>
  <div>
    <%= link_to user_path(@user.id) do %>
      <%= image_tag @user.get_profile_image(100,100) %>
    <% end %>
  </div>


  <%= render 'public/users/userinfo', user: @user, reviews: @reviews %>

</div>